
  <div class="col-xs-12 col-sm-11 content back-col">
    <div class="col-xs-12 col-sm-8 pad0">
      <div class="container-fluid ">
      <div class="row">
        <div class="col-xs-12 uni_dash_name">

          <div class="col-xs-12 col-sm-6 uni_seal_container text-center">
            <%= image_tag("stanford_seal.gif", :class=> "img-thumbnail img-circle img-responsive uni_seal") %>
          </div>
          <div class="col-xs-12 col-sm-6" >
            <h4>STANFORD UNIVERSITY </h4><br/>
            Established in 1891<br/>
            Private University<br/>
            Located in Stanford, California, U.S.<br/>
            Suburaban Campus covering 8,180 acres <br/>
            Visit Stanford Website : <a href="http://www.stanford.edu/">Stanford.edu</a><br/>
          </div>
        </div>    
        <div class=" col-xs-12 col-sm-6 uni_dash_name uni_dash_courses">
          <h4 style="text-align:center">COURSES OFFERED</h4>
          <ul>
            <li>Architecture (B.Arch.)</li>
            <li>Bachelor of Technology (B.Tech.)</li>
            <li>B.Com</li>
            <li>BCA</li>
            <li>MS</li>
            <li>M.Tech.</li>
          </ul>
        </div>  

        <div class="col-xs-12 col-sm-5 uni_dash_name uni_dash_internal uni_dash_courses" >
          <h4 style="text-align:center">GROWTH</h4>
        </div>
        <div class="col-xs-12 col-sm-5 uni_dash_name uni_dash_internal uni_dash_courses">
          <h4 style="text-align:center">RANKING</h4>
        </div>
      </div>
      
     </div>
    </div>  
    <div class="col-xs-12 col-sm-4 pad0">
      <div class="uni_dash_desc">
      <h4 style="text-transform: uppercase;text-align:center">DESCRIPTION</h4><br/>
      Leland Stanford Junior University, commonly referred to as Stanford University, is a private research university in Stanford, California in the northwestern Silicon Valley near Palo Alto. It has produced the largest number of Turing Award laureates for a single academic institution and is the alma mater of 30 living billionaires and 17 astronauts. Stanford is also one of the leading producers of members of the United States Congress.
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 pad0">
      <div class="uni_dash_down "><h4 style="text-align:center">SCHOLARSHIPS AND COURSES</h4></div>
    </div>
    <div class="col-xs-12 col-sm-6 pad0">
      <div class="uni_dash_down" ><h4 style="text-transform: uppercase;text-align:center">Number of Students On SAT Score Basis</h4></div>
    </div>
    <div class="col-xs-12 col-sm-6 pad0" >
      <div class="uni_dash_down"><h4 style="text-transform: uppercase;text-align:center">Basic Staff</h4></div>
    </div>
    <div class="col-xs-12 col-sm-6 pad0" >
      <div class="uni_dash_down"><h4 style="text-transform: uppercase;text-align:center">Applications</h4></div>
    </div>
  </div><!--col-xs-12-->


